/* Info Box */
.info-box {
    background-color: var(--info-box-bg-color);
    color: #000;
    padding: 20px;
    text-align: center;
    height: 100px; /* Fixierte Höhe für bessere Animationen */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Sichtbar beim Hover */
.portfolio-item:hover .info-box {
    opacity: 1;
}
